.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.navbar {
  height: 70px;
  line-height: 70px;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.7);
}

.link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-right: 24px;  
}
.link:hover {
  color: #ffd500
}
.link.selected {
  color: #ffd500
}
.connect-btn {
  margin-left: 50px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
